.news-item {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 16px;
  padding: 12px;
  -moz-box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
  box-shadow: 0 0 1px #000000;
}

.news-body{
  padding-bottom: 32px;
  font-size: 12pt;
  padding-top: 12px;
}

.news-title{
  font-weight: bold;
  color: #000000;
}

.news-header {
 border-bottom: 1px solid #a8a8a8;
}

.news-header p{
  font-size: 8pt;
  color: #878787; 
  margin-top: -6px;
}

