.news-item {
  background: rgb(249,249,249); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
  padding:40px 40px 0px
}
.news-header span {
  color:#bcbcbc;
  margin-top: 8px;
  font-size: 11px;
  margin-left: 12px;
  background: url(/images/time-icon.png) left no-repeat;
  padding-left: 18px;
}
.news-body{
  padding-bottom: 40px;
  font-size: 12pt;
  padding-top: 20px;
}

.news-title{
  font-weight: bold;
  color: #000000;
}

.news-header p{
  margin:2px 6px;
}

