#products {
  position: absolute;
  left: 128px;
  padding: 0px;
}
#products .profucts-top-bg {
  background: url(/images/dropdown-bg.png) no-repeat;
  height: 8px;
  width: 105px;
}
#products ul {
  border-radius: 5px;
  background-color: #FEFEFE;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.42);
  padding: 10px 20px;
}
#products li {
  display: block;
  padding-bottom: 5px;
  padding-left:0px;
  border:none;
  margin: 0px;
}

#products li a{
  color: #BCBCBC;
  font-size:12px;
}

#products li a:hover {
  color:#4d4d4d;
}
#products li a:visited{
  color: #BCBCBC;
}
