#products {
  background-color: #5a5a5a;
  color: #f2cf6d;
  opacity: 0.65;
  -moz-box-shadow: 4px 3px 5px #000000;
  -webkit-box-shadow: 4px 3px 5px #000000;
  box-shadow: 4px 3px 5px #000000;
  -webkit-border-radius: 5px;
  -moz-box-border-radius:5px;
  border-radius: 5px;
  border: 3px solid #ffffff;
  padding: 6px;
  width: 60px;
}

#products li {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#products li a:visited{
  color: #f2cf6d;
}
