.content-wrapper
  h1.main-title About
  p 
    | OptimalBits is a Swedish software company founded in 2011 that has created
    a(href="https://castmill.com") Castmill 
    | the next generation digital signage platform based on modern, 
    | cutting-edge web technologies.
  
  p 
    | Besides our main product, we also have released several libraries and 
    | components for Node.js as Open Source. 
    | 
