.content-wrapper
  h1.main-title Career
  .content-entry
    p Optimal Bits is currently hiring, please send your resumé and portfolio for the following open positions. We will consider both full and part time positions:
    li
      a(href="#/career/front-end-dev") Front-End web developer.
    li
      a(href="#/career/server-dev") NodeJS server developer.
    li
      a(href="#/career/interaction-designer") Interaction and Graphic designer.




