h3 Career

p Optimal Bits is currently hiring, please send your resumé and portfolio for the following open positions. We will consider both full and part time positions:

li Front-End web developer.
li NodeJS server developer.
li Interaction and Graphic designer.
