.contact-wrapper.lft
  h2.title Contact
  .contact-details 
    p Optimal Bits has his offices located in Ideon Innovation in the southern swedish town of Lund. You can contact us via phone or email.
  .contact-address
    p Ideon Science Park 26
    p Scheelevägen 15
    p SE-22370, Lund. Sweden.
  .contact-phone
    p Phone:+46 (0) 733 329536
  .contact-email
    p For any questions you may have, please send an email to info@optimalbits.com
.lft
  .contact-ideon
    .image-wrapper
      .ideon-image
    .ideon-logo
