#main
  #header
    #header-back
    #logo
      img(src="/images/logo.png", alt="")
    #menu
      li 
        a(href="#/news") News
      li 
        a(href="#/products") Products
      li
        a(href="#/about") About Us
      li
        a(href="#/career") Career
      li
        a(href="#/contact") Contact
  #content-pane
    #content

  #footer
    #footer-main
      #company.footer-column
        p Company
        li About
        li Vision
        li Press
        li Blog
      
      #legal.footer-column
        p Legal
        li Copyright
        li etc
      
      #credits.footer-column
        p Credits
        li GingerJS
        li jade
        li curl
        li showdown
      
      #followus Follow Us: 
        li @optimalbits
        li github
      
    #copyright Copyright 2011-2012 - Optimal Bits.