#news
  .news-list
    each n in news
      .news-item
        .news-header 
          a(href="#{n.url}")
            h3.lft #{n.title}
          span.lft #{n.date}
          .clr
        .news-body
          !{n.content}
