.content-wrapper
  h1.main-title Products
  p 
    | 
    | Despite OptimalBits focus on its main product Castmill, with the vision of
    | creating a new channel for delivering advertisement to digital 
    | signage displays, we are a still a software company aware of the importance
    | of the Open Source movement, so we will support and release products that
    | we developed internally but that we believe can have value for the 
    | community.
  p 
    | In this section you can see some of the products that we are working on or
    | already being released.
    | 
    