.content-wrapper
  h1.main-title Our Vision
  h4(style="font-style:italic")
    | Bring together display owners and advertisers to improve content delivery
    | and increase monetizing oppportunities by creating a technology 
    | that allows easy and convenient localization, management and 
    | distribution of multimedia, infotainment and advertising.
    
