body{
  font: normal 12pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  background: url(/images/bg-overlay.png) repeat left top; 
}

ul,li,ol,p,h1,h2,h3,span,label,div,table,td,tr,form,span,stong,a{
  margin:0;
  padding:0;
}
img,a {
  outline: :none;
}
.lft {
  float:left;
  margin: 0em 1em 0em 1em;
}
.rft {
  float:right;
  margin: 0em 0em 0em 1em;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1,h2,h3 {
  color:#4d4d4d;
  font-weight:bold;
}
h1 {
  font-size:30px;
}
h2 {
  font-size:20px;
}
h3 {
  font-size:19px;
}
.main-title {
  padding:30px 0px;
}
.title {
  padding:15px 0px;
}
#container-wrapper {
  background: #F9F9F9;
  margin-bottom: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 650px;
}
.content-wrapper {
  padding:0px 80px;
}
.content-wrapper h2 {
  padding: 15px 0px;
}
.content-wrapper p {
  padding:10px 0px;
}
.content-entry {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 50px;
}
.clr {
  clear:both;
}

li{
  font-size: 8pt;
  display: block;
  color: #000000;  
}

a, a:visited{
  text-decoration: none;
}

#header{
  height: 118px;
  border-bottom: 1px solid #E5E5E5;
  margin: 0px 40px;
}

#main{
  width: 960px;
  height: auto;
  margin: auto;
}

#content-panel{
  height: 530px;
  overflow: auto;
}

#content{
  margin: 24px 0px;
}
#content li {
  color: #676767;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  padding: 2px 4px;
}
#content a, a:visited{
  text-decoration: none;
  color: #676767;
  font-weight: bold;
  font-size: 13px;
}

#content a:hover{
  color: #99905f;
}

#content p {
  color: #676767;
  font-size:13px;
  text-align: justify;
  line-height: 22px;
}

#logo{
  float: left;
  padding-top: 32px;
}

#menu {
  float: left;
  padding-top: 46px;
  padding-left: 30px;
}
#menu .open {
  background: url(/images/menu-open.png) no-repeat right;
}
#menu li a{
  color: #bcbcbc;
  font-size: 14px;
  font-weight: bold;
}

#menu li a:visited{
  color: #bcbcbc;
  font-weight: bold;
}

#menu li a:hover,a:active{
  color: #acacac;
}

#menu li {
  display: inline;
  font: 14pt Helvetica, Lucida, Verdana, sans-serif;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #dddddd;
}
#menu .first {
  border-left: none;
}

#products-menu {
  background: url(/images/menu-close.png) no-repeat right;
  padding-right: 20px;
  margin-right: -8px;
}
#footer p {
  font-size: 13px;
  color:#fcfcfc;
  text-shadow:0px 1px #34383e;
  font-weight:bold;
}

#footer-main{
  height: 160px;
  background: #3C4147;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #51575F, inset 0px 1px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  border: 1px solid #1B1D21;
  background: rgba(0, 0, 0, 0.1);
}

#footer-main a,a:visited{
  color: #cfcfcf;
}

#footer-main a:hover{
  color: #d19191;
}

.footer-column{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  float: left;
}

#footer-main li{
  padding-top: 8px;
  display: block;
  color: #cfcfcf;
  text-shadow:0px 1px #34383e;
  font-size:12px;
}

#followus {
  float: right;
  padding-top: 20px;
  padding-right: 24px;
  color: #16a8dc;
}

#followus li {
  padding-top: 5px;
  left: 12px;
  position: relative;
}

#copyright {
  text-align: center;
  font-size: 12px;
  color: #CFCFCF;
  text-shadow: 0px 1px #2A2D32;
  margin-bottom: 15px;
}
/* icons */
.twitter-icon {
  background: url(/images/icons.png);
  width: 25px;
  height: 20px;
}
.github-icon {
  background: url(/images/icons.png);
  height: 20px;
  width: 22px;
  background-position: -25px 0px;
}

/* Images */

.image-wrapper {
  border: #9A9A9A 1px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #9A9A9A;
}

.profile-image {
  margin: 6px;
  box-shadow: inset 0px 0px 1px black;
  border-radius: 4px;
}
