.content-wrapper
  h1.main-title Beta Launch - Press Release 
  p.bold 
    | SWEDISH OPTIMALBITS REVOLUTIONIZES THE DIGITAL MEDIA DISTRIBUTION FOR SMALL-SIZE BUSINESSES AND INVITES TO BETA LAUNCH OF THEIR NEW PRODUCT CASTMILL.

  p 
    | Lund, Sweden, February 5, 2013— OptimalBits (www.optimalbits.com), aiming to reinvent the Digital Signage B2B marketplace, today announced the launch of its media distribution platform, Castmill (www.castmill.com).

  p 
    // | Today we are getting used to large advertisement displays taking up more and more space in our society. However, another development that lets you display advertisements on any screen is also taking place, which opens up for new business opportunities for small screen owners and small advertisers. Swedish OptimalBits now releases a beta version of its platform Castmill, with which you can show your advertisement on any screen with a web browser and an internet connection.
    | Today we are getting used to large advertisement screens taking up more and more space in our society. Simultaneously, another development is taking place that lets you display advertisements on any screen. This opens up new business opportunities for  small screen owners and small advertisers. Swedish OptimalBits now releases a beta version of its platform Castmill. Castmill is a tool for displaying advertisements or information on any screen with a web browser and an internet connection.

  p.bold 
    | Digital Signage is a term that comprises all electronic displays that are used for showing any kind of information such as TV-shows, menus, messages or, probably most common, advertisements. OptimalBits at Ideon Innovation in Lund, Sweden has developed the software platform Castmill, where advertisers can upload ads that can be displayed on screens all around the world. The only requirement is an internet connected device with an HTML5 capable web browser, which - besides traditional digital signage screens - includes computers, laptops, tablets and smart TVs.


  p 
    span.quote
      | “We are not a traditional Digital Signage company, nor a competitor to the large media brokers such as Clear Channel or JCDecaux, with their large advertisement screens providing mass advertisement. What Castmill is all about is enabling a new distribution channel for the hundreds of millions of screens all around the world having the potential to generate income to their owners, but today aren’t monetized - even if the screens are located in places where many people could be potential targets of relevant advertisements”, 
    | explains Manuel Astudillo, CEO of OptimalBits.

  p 
    | Castmill can be compared to an advertisement network in a blog or a website, but on a screen placed on a populated place in the physical world. The location of the screen is of course important and the owner of a location where many people pass can buy a screen for a few hundred dollars and start earning money immediately. It is a small investment so even small screen owners can earn money.

  p 
    | It is already possible to register screens on Castmill.com as private person or company and be part of the beta testing that OptimalBits has just launched. Castmill is a free service for screen owners and will soon open up for paying advertisers.

  p 
    span.quote
      | “We see, for example, a good business case for media brokers to buy time slots on screens and re-sell them to smaller customers or specialized companies. In the future, Castmill will even allow you to rank screens according to their location and exposition and the advertiser just pays for the time that the ads are actually being displayed”, 
    | explains Pierre Elzouki, chairman of the board and with a long experience in the multimedia and mobile industry.

  p 
    | Using Castmill is free, register at castmill.com


  p 
    | For more information about Castmill, visit 
    a(href="https://castmill.com",target="_blank") www.castmill.com
  ul
    li Manuel Astudillo, founder, CEO; +46 (0)733 32 95 36  or manuel@optimalbits.com
    li Pierre Elzouki, chairman of the board; +46(0)733-826735 or pierre@optimalbits.com
