h3 CastMill - Digital Signage Platform

| Castmill is our next generation cloud based solution for digital signage. Please stay 
a(href="/twitter.com/optimalbits") tuned
|  for news. We will be releasing a beta version very soon!.
