.content-wrapper.lft
  h1.main-title Products
  h2 Castmill - Digital Signage Advertising Platform
  
  p
    | 
    a(href="https://castmill.com", target="_blank") Castmill 
    | is our flagship product and is conceived to simplify the delivery of 
    | advertisements and multimedia to 
    a(href="http://en.wikipedia.org/wiki/Digital_signage", target="_blank") digital signage 
    | displays.
    | With Castmill you get a complete content management system as well as a
    | player software that rund directly in your web browser. This works by utilizing
    | the latest HTML5 technologies and can therefore run on any device with a
    | modern web browser, including desktops laptops and mobile devices.
  p
    | Check out
    a(href="https://castmill.com", target="_blank") the Castmill website 
    | for more information.
    
.rft
  .image-wrapper
    .castmill-portal-image
    
