.content-wrapper
  h2 CastMill - Digital Signage Platform

  p
    | Castmill is our next generation cloud based solution for digital signage. Please stay 
    a(href="/twitter.com/optimalbits") tuned
    |  for news. We will be releasing a beta version very soon!.
