.content-wrapper
  h1.main-title Products
  h2 GingerJS - Javascript MVC Framework
  p
    | At Optimal Bits we have the vision of pushing the current technlogies to their limits, for CastMill we required functionality that was not available at the time.      strong GingerJs
    |  is our own web application framework, it is light and modular and simplify the creation of webpages using the latest technologies. It is built on top of jQuery, Curl and underscore, and it is packed with a bunch of nice features:

  li Hierarchical routing system.
  li Class system based on prototypal inheritance.
  li Undo / Redo
  li Models with server synchronization and persistence.
  li Views.
  li Events
  li Property Bindings.
  p
    | For more information check in GingerJS
    a(href="https://github.com/OptimalBits/ginger") website.

