.content-wrapper
  h1.main-title Products
  h2 Ground Web Developmen Framework
  p
    | 
    a(href="http://gnd.io") Ground 
    | is a complete web framework for developing modern, scalable and highly 
    | responsive applications written in Typescript with a Node.js server 
    | component.
  p
    | We developed Ground in order to fulfill the complex requiremens of our
    | flagship product Castmill, were we needed a system capable of working 
    | reliable for long periods of time, running in scenarios of poor 
    | connectivity, as well as the need of a very responsive and complex user
    | interface.
  p
    | We have now released Ground as Open Source, and we would love to see you 
    | using it on your next web projects.
  p
    | A list of some of its features:

  lu
    li Written in highly modular Typescript.
    li Hierarchical routing system.
    li Complete offline / online support with automatic synchronization.
    li Views with declarative bindings.
    li Models, Collections and Sequences.

  p
    | For more information check in Ground's
    a(href="https://github.com/OptimalBits/ginger") website.

.rft
  .image-wrapper
    .ground-logo
