.content-wrapper
  h1.main-title Products
  h2 Ground Web Development Framework
  p
    | 
    a(href="http://gnd.io". target="_blank") Ground 
    | is a complete web framework for developing modern, scalable and highly 
    | responsive web applications. It is written in Typescript and has a Node.js
    | server component.
  p
    | We developed Ground in order to fulfill the complex requirements of our
    | flagship product Castmill. We needed a system capable of working 
    | reliably for long periods of time, even in poor connectivity
    | scenarios. This in combination with the very high requirements on
    | responsiveness in complex user interfaces motivated us to build Ground.
  p
    | Ground is available as Open Source under MIT license, and we would love to
    | see you using it on your next web projects.
  h2 Key features

  lu
    li Written in highly modular Typescript.
    li Hierarchical routing system.
    li Complete offline / online support with automatic synchronization.
    li Views with declarative bindings.
    li Models, Collections and Sequences.

  p
    | For more information check out Ground's
    a(href="http://gnd.io", target="_blank") website.

.rft
  .image-wrapper
    .ground-logo
