.content-wrapper
  h1.main-title Products
  h2 Node.js Modules
  p
    | At OptimalBits we are huge fans of Node.js, and besides using it for
    | developing our products we also develop and release node.js modules 
    | of our own.
    | 
    | Some of the modules we have released so far:
  
  lu
    li Node ACL. Rights managements for node applications.
    li Cabinet. High performant smart static file server.
    li Crawlme. A express/conect addon for making your web apps indexed by
      | google.
    li Navcodec. A easy to use and powerful video and audio transcoder.
    
  p
    | Grab our modules at 
    a(href="https://github.com/OptimalBits") Github

.rft
  .image-wrapper
    .nodejs-logo