.content-wrapper
  h1.main-title Products
  h2 Node.js Modules
  p
    | At OptimalBits we are huge fans of Node.js, and besides using it for
    | our products we also develop and release node.js modules of our own.
    | 
    | Some of the modules we have released so far are:
  
  lu
    li Node ACL. Rights managements for node applications.
    li Cabinet. High performant smart static file server.
    li Crawlme. A express/connect middleware for making your web apps indexable by
      | google.
    li Navcodec. A easy to use and powerful video and audio transcoder.
    
  p
    | Grab our modules on
    a(href="https://github.com/OptimalBits", target="_blank") Github

.rft
  .image-wrapper
    .nodejs-logo
