.content-wrapper
  h1.main-title Products
  h2 Node.js Modules
  .rft
    .image-wrapper
      .nodejs-logo
  p
    | At OptimalBits we are huge fans of Node.js, and besides using it for
    | our products we also develop and release node.js modules of our own.
    | 
    | Some of the most popular modules we have released are:
  
  lu
    li Bull. A ultrafast job/message queue based on Redis.
    li Redbird. A flexible reverse proxy packed with modern features.
    li Node ACL. Rights managements for node applications.
    
  p
    | Grab our modules at 
    a(href="https://github.com/OptimalBits", target="_blank") Github
