.content-wrapper
  h1.main-title About Us
  p 
    | OptimalBits is a Swedish software company founded in 2011. We specialize in
    | building highly scalable web based solutions for managing and streaming of
    | digital media. Our main product is 
    a(href="https://castmill.com", target="_blank") Castmill, 
    | a next generation digital signage platform based on modern, 
    | cutting-edge web technologies such as HTML5 and Node.js.
  
  p 
    | Apart from that, we've also released several libraries and 
    | components for Node.js as Open Source. 
    | 


  .presentation
    // h2.main-title Who We Are
    .lft
      .image-wrapper
        img(src="images/manuel.jpg").profile-image

    h3 Manuel Astudillo, CEO
    p.clearfix 
      | Manuel is the founder of OptimalBits and has a Master's degree from Lund
      | University, Faculty of Engineering. He started his professional career at
      | Scalado (now Nokia) where he was promoted to architect and
      | research manager in charge of researching and introducing cloud
      | technologies.
      | 

    .rft
      .image-wrapper
        img(src="images/aron.jpg").profile-image

    h3 Aron Kornhall, Head of Development
    p.clearfix 
      | Aron has an extensive experience in software engineering and architecture and a
      | Master's degree from Lund University, Faculty of Engineering. He spent the last
      | 6 years working at SAP headquarters in Waldorf (Germany) where he worked in the
      | central team for architecture within the SAP Business Suite. In this role he
      | was responsible for the topics HTML5 and Mobile Analytics.
      | 

    .lft
      .image-wrapper
        img(src="images/aron.jpg").profile-image

    h3 Sebastian Astudillo, Software Engineer
    p.clearfix 
      | Sebastian has several years of experience in web development both server
      | and client side. Before joining OptimalBits he worked at blog.de in 
      | Berlin, one of the largest internet portals in Germany.


    .rft
      .image-wrapper
        img(src="images/pierre.jpg").profile-image

    h3 Pierre Elzouki, Chairman of the Board
    p.clearfix 
      | Pierre is an entrepreneur and visionary, with many years of experience in
      | the telecom industry and a well known track record of successful stories.
      | Besides OptimalBits, he holds board positions in other companies such as
      | Scalado, and Raviteq.
      | 

