.content-wrapper
  h1.main-title About
  p 
    | OptimalBits is a Swedish software company founded in 2011. Our main product is
    a(href="https://castmill.com", target="_blank") Castmill, 
    | a next generation digital signage platform based on modern, 
    | cutting-edge web technologies.
  
  p 
    | Apart from that, we've also released several libraries and 
    | components for Node.js as Open Source. 
    | 
