.content-wrapper
  h1.main-title About Us
  p 
    | OptimalBits is a Swedish software company founded in 2011. We specialize in
    | building highly scalable web based solutions for managing and streaming of
    | digital media. Our main product is
    a(href="https://castmill.com", target="_blank") Castmill, 
    | a next generation digital signage platform based on modern, 
    | cutting-edge web technologies such as HTML5 and Node.js.
  
  p 
    | Apart from that, we've also released several libraries and 
    | components for Node.js as Open Source. 
    | 

  h2.main-title Who We Are
  .lft
    .image-wrapper
      img(src="images/manuel.jpg").profile-image

  p.clearfix 
    | Manuel bla bla bla
    | dsklfajklsadöf
    | asdfkldsöafsds
    | fdsaljkk
    | 

  .rft
    .image-wrapper
      img(src="images/pierre.jpg").profile-image

  p.clearfix 
    | Pierre bla bla bla
    | dsklfajklsadöf
    | asdfkldsöafsds
    | fdsaljkk
    | 

  .lft
    .image-wrapper
      img(src="images/aron.jpg").profile-image

  p.clearfix 
    | Aron bla bla bla
    | dsklfajklsadöf
    | asdfkldsöafsds
    | fdsaljkk
    | 
