.content-wrapper
  h1.main-title Career
  
  p
    | OptimalBits is currently in a start up phase with a lot of exciting 
    | activities and gives you a great opportunity to join at an early 
    | stage and grow together with the company.
    | 
  
  p 
    | Open positions:
  
  ul.link-list
    li
      a(href="#!/career/summer-job") Summer Jobs
    li
      a(href="#!/career/interaction-designer") Interaction and Graphic designer
    li 
      a(href="#!/career/sales") Sales Director
    li
      a(href="#!/career/server-dev") Node.js server developer
    li
      a(href="#!/career/front-end-dev") Front-End web developer
