.content-wrapper
  h1.main-title Copyright Notice
  p All the contents of this web-page are, unless otherwise explicitly stated, copyright of Optimal Bits Sweden AB, a swedish corporation with organization number 556841-5292.
  
