.content-wrapper
  h1.main-title Partners
  p 
    | OptimalBits is currently searching for partners for our digital signage
    | product 
    a(href="https://castmill.com", target="_blank") Castmill 
  p
    | We are looking after companies that are interested in using our product 
    | in pilot projects or that have technology and solutions that can be combined
    | with our product in order to enhance it and give a increased 
    | value proposition.
    
  p 
    | If you think you have an interesting partnership case, please contact us
    | via 
    a(href="#!/contact") email or phone.

