.content-wrapper
  h1.main-title Press
  ul.link-list
    li
      a(href="/docs/pr_castmill_beta_en.pdf") Beta Launch of Castmill - English Press Release
    li
      a(href="/docs/pr_castmill_beta_se.pdf") Beta Launch of Castmill - Swedish Press Release
