.content-wrapper
  h1.main-title Products
  p 
    | 
    | Despite our focus on our main product Castmill, with the vision of
    | creating a new channel for delivering advertisement to digital 
    | signage displays, we are a still a software company aware of the importance
    | of the Open Source movement. That's why we release many products that we've
    | developed internally but believe can have value for the community as open 
    | source.
  p 
    | In this section you can see some of the products that we are developing and
    | maintaining.

  ul.link-list
    li
      a(href="#!/products/castmill") Castmill
    li
      a(href="#!/products/nodejs") Node.js Modules
