.content-wrapper
  h1.main-title Career
  h2.title Frontend Web Developer
  p
    | Are you an A-player wishing to make history writing software for the 
    | next generation digital signage platform? 
    | You will be exposed to the latest web technologies, HTML5, WebSockets, 
    | WebGL, NodeJs etc. You will work in a team with highly talented
    | individuals, in a cool start up with crazy ambitions.

  br

  p
    | Send your resume to 
    a(href="mailto:jobs@optimalbits.com") jobs@optimalbits.com 
    | and Join Us today!

