.content-wrapper
  h1.main-title Career
  h2.title Sales Director
  p
    

  br

  p
    | Send your resume to 
    a(href="mailto:jobs@optimalbits.com") jobs@optimalbits.com 
    | and Join Us today!

