.content-wrapper
  h1.main-title Career
  h2.title Backend Web Developer
  p
    | Are you an A-player wishing to make history writing software for the next generation digital signage platform? 
    | You will be exposed to the latest web server technologies: NodeJS, MongoDB, Redis, WebSockets etc. You will work in a team with highly talented individuals like yourself, in a cool start up with crazy ambitions.
    | You should agree on most of these sentences:

  br 

  li You are aware of the JavaScript shortcomings, but still you love coding in it.
  li You are always up-to-date with the latest news in web development.
  li You get excited when new JavaScript frameworks and technologies that allow 
    | new cool functionalities are released.
  li You are never satisfied with less than perfect results, but still sometimes 
    | you are willing to make compromises.

  br
  
  p
    | Send your resume to
    a(href="mailto:jobs@optimalbits.com") jobs@optimalbits.com 
    | and Join Us today!

