.content-wrapper
  h1.main-title Career
  h2.title Interaction and/or Graphic Designer
  p 
    | Are you an A-player wishing to make history writing software for the next generation digital signage platform? 
  br
  
  p
    | Send your CV to jobs@optimalbits.com and Join Us today!

