.content-wrapper
  h1.main-title Career
  h2.title Interaction and/or Graphic Designer
  p 
    | Are you an A-player wishing to make history designing top grade user
    | interfaces for the next generation digital signage platform? 
  br
  
  p
    | Send your resume to 
    a(href="mailto:jobs@optimalbits.com") jobs@optimalbits.com 
    | and Join Us today!

