.content-wrapper
  h1.main-title Career
  h2.title Summer Jobs
  p
    | We are currently hiring for the summer months. 
    | 
    | Are you a hard worker, team player and want experience in how it feels to 
    | work on a start-up? Do you want to cash in some money as well as open for
    | future job opportunities when your are done with your studies?
    | If so, we warmly recommend you to apply for one of our vacancies below:
    | 
  br 

  li Graphic and Interaction designer.
  li Front End Web Developer (HTML/CSS/Javascript).
  
  br
  
  p
    | 
    | Send your resume or ask for more information at
    a(href="mailto:jobs@optimalbits.com") jobs@optimalbits.com 
    | and Join Us today!

